############################################################################
# Configuration for the chromedriver wrapper.
############################################################################

################################
# Extra options to pass to the chromdriver command
#EXTRA_OPTIONS="--verbose --log-path=/path/to/chromedriver.log"
################################

################################
# Specify an alternative location to store chromedriver binaries.
#PATH_TO_CACHEDIR="/tmp/mycache"
################################

################################
# Specify an alternative path to Chrome itself.
#PATH_TO_CHROME="/my/path/to/chrome/canary"
################################

################################
# Specify an alternative filename to download the file from Google.
# You may need this if Google renames their repos.
#CHROMEDRIVER_SOURCE_FILENAME="linux.zip"
################################
